.profile__name-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 336px;
    margin: 0 0 16px 0;
    
}

@media (max-width: 940px) {
    .profile__name-area {
        width: 223px;
        
    }
}