.profile {
    max-width: 880px;
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 0 auto 51px;

}

/*@media (min-width: 941px) and (max-width: 1200px) {
    .profile {
        max-width: calc(100% - 40px);
        
    }
}*/

@media (max-width: 940px) {
    .profile {
        flex-direction: column;
        justify-items: center;
        max-width: calc(100% - 38px);
        margin: 0 auto 36px;

        
    }
}
