.profile__add-button {
    width: 150px;
    height: 50px;
    margin: auto 0;
    background-color: #000;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/add-button-image.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.profile__add-button:hover {
    opacity: 0.5;
}

@media (max-width: 940px) {
    .profile__add-button {
        margin: 0 auto;
        width: 100%;
        max-width: 282px;
        
    }
}