.popup__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: calc(100% - 72px);
  margin: 0 auto 48px;
}

@media (max-width: 550px) {
  .popup__fieldset {
    width: calc(100% - 44px);
    margin-bottom: 45px;
  }
}
